<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.jilijili.common.core.mapper.OperationLogMapper">

    <resultMap id="BaseResultMap" type="wang.jilijili.common.core.pojo.entity.OperationLog">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
            <result property="operationType" column="operation_type" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="requestUrl" column="request_url" jdbcType="VARCHAR"/>
            <result property="methodExecution" column="method_execution" jdbcType="VARCHAR"/>
            <result property="requestData" column="request_data" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="moduleName" column="module_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,username,
        last_login_ip,operation_type,content,
        request_url,method_execution,request_data,
        created_time,updated_time,module_name
    </sql>
    <select id="pageList" resultType="wang.jilijili.common.core.pojo.vo.OperationLogVO">
        select
            l.id as operationLogId , l.user_id , l.username, l.last_login_ip, l.operation_type, l.content, l.request_url, l.method_execution, l.request_data, l.module_name, l.created_time, l.updated_time,
            u.nickname
        from operation_log l
                 join user u on l.user_id = u.id
        ${ew.customSqlSegment}
    </select>
</mapper>
