<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jilijili.shop.mapper.CartItemsMapper">

    <resultMap id="BaseResultMap" type="top.jilijili.module.entity.CartItems">
            <id property="itemId" column="item_id" jdbcType="BIGINT"/>
            <result property="cartId" column="cart_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="subtotal" column="subtotal" jdbcType="DECIMAL"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        item_id,cart_id,product_id,
        quantity,subtotal,created_time,
        updated_time
    </sql>
</mapper>
