<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jilijili.mall.shop.mapper.CouponsMapper">

    <resultMap id="BaseResultMap" type="top.jilijili.module.pojo.entity.shop.Coupons">
            <id property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="couponType" column="coupon_type" jdbcType="TINYINT"/>
            <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
            <result property="minPurchaseAmount" column="min_purchase_amount" jdbcType="DECIMAL"/>
            <result property="expirationDate" column="expiration_date" jdbcType="TIMESTAMP"/>
            <result property="otherCouponInfo" column="other_coupon_info" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        coupon_id,coupon_type,coupon_amount,
        min_purchase_amount,expiration_date,other_coupon_info
    </sql>


    <resultMap id="UserWithCouponsVo" type="top.jilijili.module.pojo.vo.shop.UserWithCouponsVo">
        <id property="userCouponId" column="user_coupon_id" />
        <result property="isUsed" column="is_used" />
        <result property="usageDate" column="usageDate" />
        <result property="userId" column="user_id" />
        <result property="nickname" column="nickname" />
        <result property="avatar" column="avatar" />
        <collection property="coupons" ofType="top.jilijili.module.pojo.vo.shop.CouponsVo">
            <id property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="couponType" column="coupon_type" jdbcType="TINYINT"/>
            <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
            <result property="minPurchaseAmount" column="min_purchase_amount" jdbcType="DECIMAL"/>
            <result property="expirationDate" column="expiration_date" jdbcType="TIMESTAMP"/>
            <result property="otherCouponInfo" column="other_coupon_info" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="selectAllCoupons" resultMap="UserWithCouponsVo">
        select suc.user_coupon_id, suc.is_used, suc.usage_date,
               sc.coupon_id, sc.coupon_type, sc.coupon_amount, sc.min_purchase_amount, sc.expiration_date, sc.other_coupon_info,
               su.user_id,su.nickname,su.avatar
        from shop_user_coupons suc
                 left join shop_coupons sc on suc.coupon_id = sc.coupon_id
                 left join sys_user su on suc.user_id = su.user_id
        ${ew.customSqlSegment}
    </select>
</mapper>
