<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jilijili.mall.shop.mapper.UserCouponsMapper">

    <resultMap id="BaseResultMap" type="top.jilijili.module.pojo.entity.shop.UserCoupons">
            <id property="userCouponId" column="user_coupon_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="isUsed" column="is_used" jdbcType="TINYINT"/>
            <result property="usageDate" column="usage_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_coupon_id,user_id,coupon_id,
        is_used,usage_date
    </sql>
</mapper>
