<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jilijili.mall.shop.mapper.UserRatingsMapper">
    <resultMap id="BaseResultMap" type="top.jilijili.module.pojo.entity.shop.UserRatings">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="itemId" column="category_id" jdbcType="BIGINT"/>
        <result property="rating" column="rating" jdbcType="DECIMAL"/>
        <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, item_id, rating, timestamp
    </sql>


</mapper>
