<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.jilijili.music.mapper.MusicMapper">

    <resultMap id="BaseResultMap" type="wang.jilijili.music.pojo.entity.Music">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="musicFilepath" column="music_filepath" jdbcType="VARCHAR"/>
        <result property="albumId" column="album_id" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMapVo" type="wang.jilijili.music.pojo.vo.MusicDetailVo">
        <id property="id" column="musicId" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="musicFilepath" column="music_filepath" jdbcType="VARCHAR"/>
        <result property="albumId" column="album_id" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <association property="alibumVo" javaType="wang.jilijili.music.pojo.vo.AlibumVo">
            <id property="id" column="albumId" jdbcType="VARCHAR"/>
            <result property="albumName" column="album_name" jdbcType="VARCHAR"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
            <result property="albumImg" column="album_img" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        </association>
        <collection property="singerVos" ofType="wang.jilijili.music.pojo.vo.SingerVo">
            <id property="id" column="singerId"  jdbcType="VARCHAR" />
            <result property="singerName" column="singer_name" jdbcType="VARCHAR"/>
            <result property="singerDetails" column="singer_details" jdbcType="VARCHAR"/>
            <result property="singerPhoto" column="singer_photo" jdbcType="VARCHAR"/>
            <result property="singerType" column="singer_type" jdbcType="TINYINT"/>
            <result property="locked" column="locked" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>




    <sql id="Base_Column_List">
                id, name, status,
                description, music_filepath,
                album_id, created_time, updated_time
    </sql>
    <select id="queryMusicInfoById" resultMap="BaseResultMapVo">
        SELECT distinct
            m.id as musicId, m.name, m.status, m.description, m.music_filepath, m.created_time,
            s.id as singerId, s.singer_name, s.singer_details, s.singer_photo, s.singer_type, s.created_time,
            a.id as albumId ,a.created_time, a.updated_time, a.album_name, a.details, a.album_img, a.created_time
        FROM singer_music sm
                 LEFT JOIN music m ON m.id = sm.music_id
                 left join singer s on s.id = sm.id
                 left join alibum a on a.id = m.album_id
        WHERE m.id = #{musicId};
    </select>

</mapper>
