<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jilijili.system.mapper.SysConfigMapper">

    <resultMap id="BaseResultMap" type="top.jilijili.module.entity.SysConfig">
            <id property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="configType" column="config_type" jdbcType="TINYINT"/>
            <result property="configJson" column="config_json" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_id,user_id,config_name,
        config_type,config_json,created_time,
        updated_time
    </sql>
</mapper>
