<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jilijili.blog.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="top.jilijili.blog.entity.Comment">
        <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="childId" column="child_id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="queryCommentAntUserByCommentIdMap" type="top.jilijili.blog.entity.vo.CommentVo">
        <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="childId" column="child_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="sysUser.userId" column="user_id" jdbcType="BIGINT"/>
        <result property="sysUser.nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="sysUser.avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="sysUser.gender" column="gender" jdbcType="TINYINT"/>
        <result property="sysUser.lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
                comment_id, child_id, article_id,
                user_id, content, created_time,
                updated_time
    </sql>
    <select id="queryCommentAntUserByCommentId" resultType="top.jilijili.blog.entity.vo.CommentVo">
        select c.comment_id,
               c.child_id,
               c.article_id,
               c.content,
               c.created_time,
               c.updated_time,
               u.user_id,
               u.nickname,
               u.avatar,
               u.gender,
               u.last_login_ip
        from blog_article a
                 left join blog_comment c on c.article_id = a.article_id
                 left join sys_user u on u.user_id = c.user_id
        where a.article_id = ${articleId} limit ${page}, ${size};
    </select>


</mapper>
