<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.jilijili.music.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="wang.jilijili.music.pojo.entity.User">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="locked" column="locked" jdbcType="TINYINT"/>
        <result property="unseal" column="enabled" jdbcType="TINYINT"/>
        <result property="last_login_ip" column="last_login_ip" jdbcType="VARCHAR"/>
        <result property="last_login_time" column="last_login_time" jdbcType="TIMESTAMP"/>
        <!--            <result property="created_time" column="created_time" jdbcType="TIMESTAMP"/>-->
        <!--            <result property="updated_time" column="updated_time" jdbcType="TIMESTAMP"/>-->
    </resultMap>

    <resultMap id="userRolesMap" type="wang.jilijili.music.pojo.entity.User">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="unseal" column="enabled" jdbcType="TINYINT"/>
        <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <collection property="roles"  resultMap="roleRolesMap"/>
    </resultMap>
    <resultMap id="roleRolesMap" type="wang.jilijili.music.pojo.entity.Role">
<!--        <id property="id" column="id" jdbcType="VARCHAR"/>-->
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,nickname,
        password,gender,locked,
        enabled,last_login_ip,last_login_time,
        created_time,updated_time
    </sql>
    <select id="userRoles" resultMap="userRolesMap" parameterType="java.lang.String">
        select u.id,
               u.username,
               u.nickname,
               u.password,
               u.gender,
               u.enabled as unseal,
               u.last_login_ip,
               u.last_login_time,
               r.title,
               r.name
        from  user u
                 left join user_role ur on u.id = ur.user_id
                 left join role r on r.id = ur.role_id
        where u.id = #{id}
    </select>
    <select id="getUserByUsername" resultMap="userRolesMap" parameterType="java.lang.String">
        select u.id,
               u.username,
               u.nickname,
               u.password,
               u.gender,
               u.enabled as unseal,
               u.last_login_ip,
               u.last_login_time,
               r.title,
               r.name
        from  user u
                  left join user_role ur on u.id = ur.user_id
                  left join role r on r.id = ur.role_id
        where u.username = #{username}
    </select>


</mapper>
